.central {
	display: flex;
	justify-content: center;
}

.menu {
	justify-content: flex-start;
	height:10;
	max-width:1000;
}

.menu_button {
	border-radius: 5px;
	border: 2px solid black;
	width: 1000;
	height: 1;
}

.menu_button:hover {
	background-color: blue !important;
}

.chat_window {
	margin: 0 auto;
	border: 2px solid yellow;
	background-color: aliceblue;
	width: 80%;
	border-radius: 25px;
}